body {
	background-color: #f2f2f2;
}

#main-content {
	margin-top: 4rem;
	height: 50rem;
	/*overflow-y: auto;*/
	/*border-radius: .3rem;*/
	padding: 0;
	/*overflow: hidden;*/
}

#main-content-grid {
	height: 50rem;
	/*background-color: red;*/
	margin: 0;
}

#left, #right {
	height: 100%;
	/*background-color: blue;*/
	padding: 0;
}

#left {
	border-right: 1px solid #d3d3d3;
}

#top-menu {
	background-color: #9da5b0;
	/*border-radius: 0 !important; */
	/*margin: 0;*/
}

#top-spacing {
	visibility: hidden;
	margin-top: 0;
}

#top-menu .item:hover {
	background-color: #ced2d7;
}

#middle-part {
	height: 41.5rem;
	padding-right: .5rem;
	padding-left: .3rem;
}

#middle-part .label {
	margin: .3rem;
}

#middle-part .date {
	float: right;
}

#bottom-menu {
	padding: 0rem;
}

#bottom-menu div {
	width: 100%;
}

#bottom-menu input {
	width: 85%;
}

#member-list {
	padding-right: 0 !important;
	/*padding-left: .6rem;*/
	/*background-color: red;*/
}

#member-list td {
	height: 5rem;
}

#member-list table {
	border: none;
	padding: 0;
	border-bottom: 1px solid #d3d3d3;
	border-radius: 0;
	margin: 0 !important;
}

#member-list tr,td {
	padding: 0;
}

#member-list .ui.avatar.image {
	height: 4rem;
	width: 4rem;
	/*float: left;*/
	/*margin-right: .8rem;*/
	/*margin-left: 0;*/
	align-self: left;
	margin: 0;
}


#member-list .content {
	padding: 0 !important;
	margin-left: .5rem;
	/*background-color: blue;*/
}

#member-list .label-td {
	width: 6rem;
	/*background-color: blue;*/
	padding: 0;
	text-align: center;
}

#member-list .header {
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 0;
}

.new-messages {
	padding: 0;
	background-color: #d4444a;
	color: #fff;
	font-size: .8rem;
	width: 1.2rem;
	height: 1.3rem;
	font-weight: bolder;
	border-radius: .5rem;
	text-align: center;
	vertical-align: middle;
}

#member-list table:hover {
	background-color: #d3d3d3;
	/*border-left: .25rem solid #0a79b6;*/
	transition: all .15s;
}

.ui.borderless.table.active-contact {	
	background-color: #d3d3d3;
	border-left: .25rem solid #0a79b6 !important;
	/*transition: all .3s;*/
}

#calling-table {
	background-color: #3a93c4;
	color: #fff;
	overflow: hidden;
	display: none;
}

#calling-table a {
	color: #fff;
}

/*#calling-table .*/

#calling-table:hover {
	background-color: #3a93c4 !important;
	color: #fff !important;
	border: none !important;
}

#left-in-call {
	display: none;
	background-color: #53a1cb;
	color: #fff !important;
}

#left-in-call .ui.top.attached.menu {
	background: transparent;
	border: none;
}

#left-in-call .ui.top.attached.menu a {	
	color: #fff;
	font-weight: bolder;
}

#buttons {
	margin-top: 2.5rem;
}

#profile-pic-small {
	height: 8rem;
	width: 8rem;
	margin: 0;
}

#left-in-call h2 {
	color: white
}

#during-call {
	display: none;
	padding-top: 10rem;
	background-color: #53a1cb;
	color: #fff !important;
}